.list-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &:first-child {
        .task__decor {
            background-color: #FF0000;
        }
    }

    &:nth-child(2) {
        .task__decor {
            background-color: #366EFF;
        }
    }

    &:nth-child(3) {
        .task__decor {
            background-color: #FFEB33;
        }
    }

    &__title {
        margin: 0;
        font-size: 28px;
        line-height: 28px;
        font-weight: 600;

        &.is-checked {
            text-decoration: line-through;
        }
    }

    &__description {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.6);
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__switch {
        margin-left: auto;
    }
}
