.task {
    &--today {
        .task__summary {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            .MuiButtonBase-root {
                padding: 0 10px 0 15px;
            }
        }
    }
    &__paper.MuiPaper-root {
        background-color: #222222;
        color: white;
        box-shadow: 16px 16px 20px rgba(0, 0, 0, 0.15), -8px -8px 20px rgba(255, 255, 255, 0.05);
        border-radius: 40px;
        padding: 20px 36px 20px 15px;
    }

    &:not(:last-child) {
        margin-bottom: 32px;
    }

    &__decor {
        display: block;
        width: 5px;
        height: 40px;
        margin-right: 12px;
        background: #A9A9A9;
        border-radius: 3px;
    }
}
